:root {
  --font-main: "Inter-Variable", sans-serif;
  --font-accent: "PressStart2P", "Courier New", fantasy;
  --text-font-weight: 410;
  --title-font-weight: 715;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-color: #ffffff;
  --border: 2px solid #000;
  --color-shadow: #ffffff;
  --block-width: clamp(23.4375rem, 16.29rem + 30.52vw, 43.75rem);
  --sparks-color: #ff0000;
  --contour-color: #000000;
}
